<div
  class="card"
  [ngStyle]="{ display: show && sales.length >= 0 ? 'block' : 'none' }"
>
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title">Pedidos de venda</h5>
    <span>{{ sales.length }} itens encontrados</span>
  </div>
  <div class="card-body">
    <table>
      <tr *ngFor="let item of sales">
        <td class="p-2" width="15%">
          <a href="#" class="idlink">#{{ item.SalesOrderID }}</a>
        </td>
        <td class="p-2">{{ item.MaterialName }}</td>
        <td class="p-2" width="25%">Qtd {{ item.Quantity }} pç</td>
      </tr>
    </table>
    <div
      [ngStyle]="{ display: sales.length === 0 ? 'block' : 'none' }"
      class="alert alert-warning"
      role="alert"
    >
      Nenhum item encontrado.
    </div>
  </div>
</div>
