<div class="d-flex">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchQuery"
      placeholder="Type search term here"
      (input)="hideResults($event)"
    />
    <button class="btn btn-outline-secondary" (click)="search()" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
        />
      </svg>
    </button>
  </div>
</div>
<div
  [ngStyle]="{ display: ErrMessage !== '' ? 'block' : 'none' }"
  class="alert alert-warning"
  role="alert"
>
  {{ ErrMessage }}
</div>
<!-- Loader -->
<app-loader [loading]="isLoading"></app-loader>

<!-- sales components-->
<app-sales [sales]="sales" [show]="show"></app-sales>

<!-- Purchases components-->
<app-purchases [purchases]="purchases" [show]="show"></app-purchases>

<!-- Products components-->
<app-products [products]="products" [show]="show"></app-products>

<!-- Equipments components-->
<app-equipments [equipments]="equipments" [show]="show"></app-equipments>

<!-- Workforce components-->
<app-workforce [workforce]="workforce" [show]="show"></app-workforce>
